<div class="fcontainer">
      <div class="contactInfo">
         <div class="box">
          <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
          <div class="text">
            <h3>Adress</h3>
            <p>607 E2 Sarju Green,<br>Chandkheda,Ahmedabad,<br>345649</p>
          </div>
         </div>
          <div class="box">
          <div class="icon"><i class="fa-solid fa-envelope"></i>
            <div class="text">
              <h3>Email</h3>
              <p>sumankavota17@gmail.com</p>
            </div>
          </div>
           <div class="box">
          <div class="icon"><i class="fa-solid fa-phone"></i></div>
            <div class="text">
              <h3>Phone</h3>
              <p>7405209917</p>
            </div>
          </div>
        </div>
        <div class="contactForm">
          <form action="">
            <h2>Message</h2>
            <div class="inputBox">
              <input type="text" name="message"required="required">
              <span>Full Name</span>
            </div>
            <div class="inputBox">
              <input type="text" name="email"required="required">
              <span>Email</span>
            </div>
            <div class="inputBox">
              <input type="text" name="message"required="required">
              <span> Type your Message...</span>
            </div>
            <div class="inputBox">
              <input type="submitt" name="submitt"value="send">
            </div>
          </form>
        </div>
      </div>